//VRIBLES//
$primary-color: #ec2f11;
$secondary-color: #f77014;
$dark-color: #283339;

@import '../css/imported.css';
@import '../scss/_mixins.scss';

#home {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 95%;
    background-color: $dark-color;
    background-image: url("img/12.jpg");
}


p {
    margin-bottom: 0;
}

.text-orange {
    color: $secondary-color;
}

.navbar-brand {
    display: inline-flex;
    h1 {
        color: #fff;
        margin: 0 0 0 1rem;
        font-size: 2.3rem;
        @media all and (max-width: 767px) {
            font-size: 30px !important;
            margin: 1rem 0 0 1rem;
        }
    }
    img {
        @media all and (max-width: 767px) {
            max-width: 50px;
            height: 100%;
            margin-top: .8rem;
        }
        height: 54px;
        width: 60px;
    }
}

.bg-dark {
    background-color: $dark-color !important;
}

 .bg-dark, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    border-color: transparent;
    background-color: $primary-color;
    box-shadow: none;
}

@media (max-width: 991px) {
    .navbar.navbar-light.navbar-transparent.bg-dark, .navbar.navbar-light.navbar-transparent.bg-dark.fixed-top {
        background-color: $dark-color !important;
    }
    .navbar.navbar-light.navbar-transparent.bg-dark .navbar-toggler .navbar-toggler-icon:after, .navbar.navbar-light.navbar-transparent.bg-dark.fixed-top .navbar-toggler .navbar-toggler-icon:after {
        content: "\f0c9";
        font-family: 'FontAwesome';
        color: #fff;
        font-size: 32px;
    }
    .navbar {
       padding: .5rem 2rem .5rem 1rem;
    }
    
    .navbar .container {
        flex-direction: row-reverse;
    }

    .btn.btn-primary {
        font-size: 12px;
        padding: .5rem 1rem;
    }

    .navbar.navbar-light .nav-link.btn {
        color: rgba(0,0,0,.5);
    }

    .nav-link.btn.btn-primary {
        background: unset;
        text-align: left;
        font-size: 16px;
        color: #999;
        padding: .5rem 0;
        padding-right: 0;
        padding-left: 0;
        box-shadow: none;
        text-transform: capitalize !important;
        &:hover, &:active, &:focus {
            box-shadow: none;
            transform: none;
            color:#fff;
            background-color: none;
        }
        &:hover {
            color:#fff;
        }
        &.active {
            color: $primary-color !important;
        }
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: none;
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
        border-color: transparent;
        background-color: transparent;
    }
    .navbar.navbar-expand-lg .navbar-collapse {
        min-height: 265px;
        overflow-y: auto;
    }

    .social {
        margin-bottom: 4rem;
    }

}

.footer {
    color: #fff;
    img {
        max-width: 30px;
        height: 30px;
    }
}

.bg-faded {
    background: #f2f3f7 !important;
}

.si-colored-whatsapp {
    background-color: #25d366;
}

.custom-checkbox .custom-control-indicator::before {
    content: '\f00c';
    font-family: 'FontAwesome';
}

.testimonail-card i {
    font-size: 40px;
    color: $secondary-color;
}

.back-to-top-social {
    background: #25d366 !important;
    bottom: 10px;
}

.item img {
    max-width: 232px;
    height: 290px;
    object-fit: cover;
}

.feature-icon i {
    font-size: 44px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    float: left;
    margin-right: 1.5rem; }
  
  .feature-icon h4 {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600; }
    .feature-icon h4:after {
      content: "";
      width: 40px;
      height: 3px;
      background-color:  $secondary-color;
      position: absolute;
      left: 0;
      margin-left: 0;
      bottom: 0; }
  
  .feature-img {
    max-width: 500px;
    position: absolute; }
    .feature-img.img-right {
      right: 0; }
    .feature-img.img-left {
      left: 0; }
  
  .feature-list li {
    padding-left: 30px;
    display: block;
    margin-bottom: 10px;
    position: relative;
    font-size: 1rem; }
    .feature-list li:before {
      content: "\e959";
      font-family: 'Linearicons';
      position: absolute;
      left: 0;
      top: 0;
      font-size: 1rem; }
  
  @media (min-width: 992px) {
    .feature-img-section {
      position: relative; }
    .feature-img {
      position: absolute;
      max-width: 600px; }
      .feature-img.pos-left {
        left: 0; }
      .feature-img.pos-right {
        right: 0; } }
  .error {
    color: $primary-color;
  }
  .alert {
      display: none;
  }
  